<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<br>
<button id='btn'>Combien d'article</button>
<h1 class="nb"></h1>
<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
